


.introduceDetail {
	margin: 10px 10px;
	width:100%;
	font-size: 20px;
	font-family: Microsoft YaHei;
}


#questionnaireList {
	float: left;
	width: 70%;
	min-height: 400px;
	overflow: hidden;
	background: white;
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 2em;
	border: solid 5px #adb0b0;
	border-radius: 8px;
}

#newRecordList .questionnairebody {
	width: 90%;
	height: 90%;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 20px;
	background: white;
}
#newRecordList .questionnairebody form {
	margin: 0 auto;
	margin-bottom: 1em;
	background-color: white;
}

#newRecordList .questionnairebody .title {
	width: 100%;
	margin: 5px auto;
}

#newRecordList .questionnairebody .submit {
	width: 40%;
	position: relative;
	left:30%;
	/*float: right;*/
	margin-bottom: 20px;
}

#blurBg img{
	opacity:0.5;
	position:absolute;
	width: 100%;
	height:  auto;
	min-height:100%;
	z-index: -1;
}
#listtest{
	opacity:0.5;
}

#empty {
	text-align: center;
	color: rgb(138, 3, 7);
	width: 60%;
	height: 20%;
	position: relative;
	margin: 1em auto;
	font-size: 30px;
	font-family: Microsoft YaHei;
}

.content {
	width: 90%;
	margin: 5px auto;
}

.newsList .linhc_list ul li h2{
	margin: 0 auto;
	margin-bottom: 1em;
	background-color: opacity;
	text-align: center;
}


div .title{
	text-align: center;
	font-size: 20px;
	font-family: Microsoft YaHei;
}


.newsList {
	margin:5px auto;
	width: 100%;
	background-color: opacity;
}


.inlineInfo tr{
	width: 100%;
}
.inlineInfo input #updateyear1{
	float: left;
	width: 65%;
    display: inline-block;
}

.inlineInfo label .inline.date1{
	float: right;
	width: 30%;
    display: inline-block;
}


.peopleInfo input{
	width: 30%;
    display: inline-block;
}

#linhc_signForActivity{
	width:40%;
	position: relative;
	left:30%;
	margin-top: 20px;
}

/*#submit_button{
	width: 40%;
	position: relative;
	left:30%;*/
	/*float: right;
	margin-bottom: 20px;
}*/